body {
    background-color: rgb(255, 174, 239);
  }

  h1 {background-color: rgb(127, 65, 189); font-family: font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;}

    h2 {background-color: rgb(127, 65, 189); font-family: font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;}

    h3 {background-color: rgb(127, 65, 189); font-family: font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;}

  p {background-color: rgb(20, 176, 124);}

  ol {background-color: rgb(20, 176, 124);}

  ul {background-color: rgb(20, 176, 124);}

  a {background-color: rgb(155, 71, 99);}

  .twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
  border-radius: 8px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(36, 182, 222);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("Images/care-bears-on-clouds-attiktbv9ynr36k4.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}